<div class="grid-container">
  <h1 class="mat-h1">Comparacion Interacciones Hashtags</h1>
  <mat-grid-list cols="4" rowHeight="455px">
    <mat-grid-tile colspan="1" rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Opciones</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-opciones></app-opciones>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Grafico de Lineas</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-graf-lineas
            [subjectDatosSeleccionados]="subjectDatosSeleccionados"
            [dataSeleccionada]="data"
          ></app-graf-lineas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Analítica</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-analitica
          [subjectTagsRelevantes] = "subjectTagsRelevantes"
          [tagsRelevantes] = "tagsRelevantes"></app-analitica>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
<!--     <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Grafico Radar</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-graf-radar
            [subjectDatosSeleccionados]="subjectDatosSeleccionados"
            [dataSeleccionada]="data"
          ></app-graf-radar>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile> -->
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Grafico de barras</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-graf-barras
            [subjectDatosBarraSeleccionados]="subjectDatosBarraSeleccionados"
            [dataBarsSeleccionados]="dataBars"
          ></app-graf-barras>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
