<div class="grid-container">
  <h1 class="mat-h1">Mercado Smart Dashboard</h1>
  <mat-grid-list cols="3" rowHeight="400px">
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Grafico de Lineas</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-graf-lineas></app-graf-lineas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="3">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Opciones</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-opciones></app-opciones>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Grafico Radar</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-graf-radar></app-graf-radar>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Grafico de barras</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-graf-barras></app-graf-barras>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
