<div class="grid-container">
  <mat-card class="main-titulo">
    <h1>Mercado Smart</h1>
  </mat-card>
  <mat-card class="main-contenido">
    Bienvenidos a mercado smart, esta es una pagina enfocada en la busqueda de
    tendencias de Twitter
  </mat-card>
  <mat-card class="presentador-por">
    <h2>Presentado por</h2>
    <div class="seccion-integrantes">
      <ul>
        <li>Gabriel Esteban Castillo Ramirez</li>
        <li>Sebastian Chacon Benitez</li>
        <li>Sebastian Solano Villada</li>
      </ul>
    </div>
  </mat-card>
</div>
