<div class="grid-container">
  <h1 class="mat-h1">Reporte Individual Hashtags</h1>
  <mat-grid-list cols="3" rowHeight="400px">
    <mat-grid-tile colspan="1" rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Opciones</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-opciones-reporte></app-opciones-reporte>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Grafico Circular</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-graf-circulo></app-graf-circulo>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Grafico de Barras</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-graf-barras
            [subjectDatosBarraSeleccionados]="subjectDatosBarraSeleccionados"
            [dataBarsSeleccionados]="dataBars"
          ></app-graf-barras>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
