<section class="example-section">
  <h2>Hashtags</h2>
  <ul >
    <li *ngFor="let subtask of hashtags">
      <mat-checkbox [(ngModel)]="subtask.isSeleccionado" (change) ="onValoresCambiados($event)">
        {{subtask.nombre}}
      </mat-checkbox>
    </li>
  </ul>
</section>

<div class="rango-fechas-seccion">
  <h2 id="example-radio-group-label">Rangos de fechas:</h2>
<!--   <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    (change) ="onValoresCambiados($event)"
    [(ngModel)] = "rangoFechaSeleccionado"
   >
    <mat-radio-button
      class="example-radio-button"
      *ngFor="let rangoFecha of rangoFechas"
      [value]="rangoFecha.rango"
    >
      {{ rangoFecha.rango }}
    </mat-radio-button>
  </mat-radio-group> -->
  <mat-slider
  thumbLabel
  [displayWith]="formatLabel"
  value = {rangoFechaSlider}
  tickInterval="1"
  step="1"
  min="1"
  max="12"
  vertical="true"
  aria-label="units"
  (input)="onSliderCambiado($event)"></mat-slider>
</div>

