* {
  text-align: left;
}

ul {
  list-style-type: none;
  padding-left: 5px;
  margin-top: 4px;
}

.mat-slider-vertical{
  min-height: 200px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

.rango-fechas-seccion{
  margin-top: 40px;
}
