<h2>Hashtag</h2>
<mat-form-field appearance="fill">
  <mat-label>Hashtag</mat-label>
  <mat-select>
    <mat-option
      *ngFor="let hashtag of hashtags"
      [value]="hashtag.nombre"
      (change)="onHashtagSeleccionado($event)"
    >
      {{ hashtag.nombre }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="rango-fechas-seccion">
  <h2>Rangos de fechas:</h2>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Fecha Inicial</mat-label>
      <mat-select (selectionChange)="onFechaInicialCambiada($event)">
        <mat-option
          *ngFor="let fecha of fechasIniciales"
          [value]="fecha.indice"
        >
          {{ fecha.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Fecha Final</mat-label>
      <mat-select (selectionChange)="onFechaFinalCambiada($event)">
        <mat-option *ngFor="let fecha of fechasFinales" [value]="fecha.indice">
          {{ fecha.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
